<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,115}</string>
                <key>spriteSourceSize</key>
                <string>{101,115}</string>
                <key>textureRect</key>
                <string>{{334,132},{101,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{400,406},{78,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{52,90}</string>
                <key>textureRect</key>
                <string>{{451,132},{52,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,91}</string>
                <key>spriteSourceSize</key>
                <string>{98,91}</string>
                <key>textureRect</key>
                <string>{{300,342},{98,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{95,105}</string>
                <key>textureRect</key>
                <string>{{300,235},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,101}</string>
                <key>spriteSourceSize</key>
                <string>{116,101}</string>
                <key>textureRect</key>
                <string>{{182,279},{116,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{182,382},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,299}</string>
                <key>spriteSourceSize</key>
                <string>{157,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{397,235},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,134}</string>
                <key>spriteSourceSize</key>
                <string>{74,134}</string>
                <key>textureRect</key>
                <string>{{106,302},{74,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,80}</string>
                <key>spriteSourceSize</key>
                <string>{51,80}</string>
                <key>textureRect</key>
                <string>{{290,435},{51,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,184}</string>
                <key>spriteSourceSize</key>
                <string>{103,184}</string>
                <key>textureRect</key>
                <string>{{1,302},{103,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,169}</string>
                <key>spriteSourceSize</key>
                <string>{172,169}</string>
                <key>textureRect</key>
                <string>{{160,1},{172,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,69}</string>
                <key>spriteSourceSize</key>
                <string>{90,69}</string>
                <key>textureRect</key>
                <string>{{400,335},{90,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,129}</string>
                <key>spriteSourceSize</key>
                <string>{146,129}</string>
                <key>textureRect</key>
                <string>{{334,1},{146,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,105}</string>
                <key>textureRect</key>
                <string>{{160,172},{138,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiaju.png</string>
            <key>size</key>
            <string>{504,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8c4f227efc30c5fb8e1eda30375c3c:093a477a2cfa0e7cf6d2aabe06430a37:073e1474fbba1b95eff2baf9d8c70e19$</string>
            <key>textureFileName</key>
            <string>jiaju.png</string>
        </dict>
    </dict>
</plist>
