<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,154}</string>
                <key>spriteSourceSize</key>
                <string>{192,154}</string>
                <key>textureRect</key>
                <string>{{203,1},{192,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1647,177},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{351,195},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,157}</string>
                <key>spriteSourceSize</key>
                <string>{81,157}</string>
                <key>textureRect</key>
                <string>{{564,171},{81,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,154}</string>
                <key>spriteSourceSize</key>
                <string>{73,154}</string>
                <key>textureRect</key>
                <string>{{870,1},{73,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{1521,99},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{1355,125},{121,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,148}</string>
                <key>spriteSourceSize</key>
                <string>{55,148}</string>
                <key>textureRect</key>
                <string>{{945,1},{55,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{1473,99},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{24,223},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,49}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{1722,50},{38,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{94,201},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,135}</string>
                <key>spriteSourceSize</key>
                <string>{127,135}</string>
                <key>textureRect</key>
                <string>{{1180,1},{127,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1481,218},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,97}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{1448,119},{71,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{1595,194},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1645,50},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,145}</string>
                <key>spriteSourceSize</key>
                <string>{168,145}</string>
                <key>textureRect</key>
                <string>{{559,1},{168,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,79}</string>
                <key>spriteSourceSize</key>
                <string>{69,79}</string>
                <key>textureRect</key>
                <string>{{1614,96},{69,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{309,195},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,181}</string>
                <key>spriteSourceSize</key>
                <string>{135,181}</string>
                <key>textureRect</key>
                <string>{{359,1},{135,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{1523,218},{32,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{1448,218},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,96}</string>
                <key>spriteSourceSize</key>
                <string>{87,96}</string>
                <key>textureRect</key>
                <string>{{1473,1},{87,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,67}</string>
                <key>spriteSourceSize</key>
                <string>{33,67}</string>
                <key>textureRect</key>
                <string>{{397,184},{33,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,104}</string>
                <key>textureRect</key>
                <string>{{1117,141},{49,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,104}</string>
                <key>textureRect</key>
                <string>{{1168,141},{49,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,116}</string>
                <key>spriteSourceSize</key>
                <string>{61,116}</string>
                <key>textureRect</key>
                <string>{{1410,1},{61,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{1723,171},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{62,223},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{723,169},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{778,169},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{81,93}</string>
                <key>textureRect</key>
                <string>{{1562,1},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{1263,138},{103,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{1041,1},{138,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{1722,1},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{1685,132},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{1562,218},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{1722,90},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,121}</string>
                <key>spriteSourceSize</key>
                <string>{198,121}</string>
                <key>textureRect</key>
                <string>{{80,1},{198,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,166}</string>
                <key>spriteSourceSize</key>
                <string>{162,166}</string>
                <key>textureRect</key>
                <string>{{706,1},{162,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,128}</string>
                <key>spriteSourceSize</key>
                <string>{38,128}</string>
                <key>textureRect</key>
                <string>{{1309,1},{38,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,143}</string>
                <key>spriteSourceSize</key>
                <string>{37,143}</string>
                <key>textureRect</key>
                <string>{{1002,1},{37,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,122}</string>
                <key>spriteSourceSize</key>
                <string>{59,122}</string>
                <key>textureRect</key>
                <string>{{1349,1},{59,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{1723,132},{37,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,90}</string>
                <key>spriteSourceSize</key>
                <string>{63,90}</string>
                <key>textureRect</key>
                <string>{{472,184},{63,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{1,223},{29,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,174}</string>
                <key>spriteSourceSize</key>
                <string>{61,174}</string>
                <key>textureRect</key>
                <string>{{496,1},{61,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,220}</string>
                <key>spriteSourceSize</key>
                <string>{77,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{964,151},{80,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,108}</string>
                <key>spriteSourceSize</key>
                <string>{69,108}</string>
                <key>textureRect</key>
                <string>{{1046,141},{69,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{38,64}</string>
                <key>textureRect</key>
                <string>{{432,184},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,113}</string>
                <key>spriteSourceSize</key>
                <string>{42,113}</string>
                <key>textureRect</key>
                <string>{{1219,138},{42,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,86}</string>
                <key>spriteSourceSize</key>
                <string>{57,86}</string>
                <key>textureRect</key>
                <string>{{221,195},{57,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,54}</string>
                <key>spriteSourceSize</key>
                <string>{22,54}</string>
                <key>textureRect</key>
                <string>{{1521,194},{22,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,81}</string>
                <key>spriteSourceSize</key>
                <string>{129,81}</string>
                <key>textureRect</key>
                <string>{{833,169},{129,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,60}</string>
                <key>spriteSourceSize</key>
                <string>{47,60}</string>
                <key>textureRect</key>
                <string>{{1645,1},{47,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{165,201},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>313.png</string>
            <key>size</key>
            <string>{1775,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d18b1bb0f83b01018ba1772f866f4f:098a41e56e2ae76f2379514ec3a3912c:ced5228ec47cc87a6934d19ca9793c64$</string>
            <key>textureFileName</key>
            <string>313.png</string>
        </dict>
    </dict>
</plist>
